<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${M2_HOME_FOLDER}/repository</localRepository>
    <servers>
        ${env.MAVEN_SERVERS_XML}
    </servers>

    <profiles>
        <!-- GPG settings -->
        <profile>
            <id>gpg</id>
            <activation>
                <activeByDefault>${env.GPG_ENABLED}</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <!-- Load passphrase from env variable -->
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
                <gpg.keyname>${env.GPG_KEY_ID}</gpg.keyname>

            </properties>
        </profile>
    </profiles>
</settings>